$egSliderBg: lightgrey;

.EmbeddedGallery {
  overflow: hidden;
  border-radius: 4px;
  background: $egSliderBg;
  padding: .5em;
}

.EmbeddedGallery-slider {
  float: left;
  margin: 0;
  padding: 0;

  //@TODO: This should be set by js
  list-style-type: none;

  // transition: -webkit-transform .25s ease;
}

.EmbeddedGallery-item {
  float: left;
  padding-right: .5em;

  &:last-child {
    padding-right: 0;
  }

  img {
    display: block;
    border-radius: 4px;
  }
}
